html,
body {
  margin: 0;
  padding: 0;
}

.shop-logo {
  min-height: 70px;
}

.main-navigation {
  min-height: 70px;
}

.user-block {
  min-height: 70px;
}

.catalog-header{
  min-height: 70px;
}

.catalog-images {
  min-height: 670px;
}

.catalog-description {
  min-height: 670px;
}

.footer-contacts {
  min-height: 90px;
}

.footer-social {
  min-height: 90px;
}

.footer-copyright {
  min-height: 90px;
}
/*убрать*/
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.shop-logo {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.main-navigation {
  float: left;
  width: 620px;
}

.user-block {
  float: right;
  width: 140px;
}

.main-header {
  margin-bottom: 55px;
}

.catalog-header {
  margin-bottom: 60px;
}

.catalog-images {
  float: left;
  width: 460px;
}

.catalog-images-top {
  margin-bottom: 15px;
}

.catalog-images-bottom img{
  float: left;
  margin-right: 20px;
}

.catalog-images-bottom img:last-child{
  float: right;
  margin-right: 0;
}

.catalog-description {
  float: right;
  width: 400px;
}

.main-footer {
  margin-top: 55px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  margin-right: 60px;
  width: 320px;
}

.footer-social {
  float: left;
  width: 180px;

}

.footer-copyright {
  float: right;
  width: 140px;
}
